<html>
  <head>    
  <%- include('partials/_header'); -%>
	<!-- * LINKS * -->	
	<link rel="stylesheet" href="https://purple-silver-helicona.glitch.me/style.css">
	<link rel="icon" href="images/cedar.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


	<!-- * JAVA SCRIPT * -->	
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>
<body>


	<!-- * PRELOADER * -->



	<!-- * HEADER + NAV * -->
	
<section class="banner" id="home">
    <div class="overlay"></div>		

	
		<div class="content" data-aos="fade-right" data-aos-duration="1000">
			<h2>
				Merhaba,<br>
				<span>Hoş Geldin!</span>
			</h2>
			
			<p>
				Discord Kod Paylaşım Sitesi! Bu siteden kolayca kodlara ulaşabilirsiniz. Siteye giriş yapıp özel kodlarımıza ulaşabilirsiniz! RabeL Code, Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi.
			</p>
			<a href="/discord" style="text-decoration: none;" target="_blank"><i class="fab fa-discord" style="margin-right: 10px; font-size: 20px;"></i>Sunucumuza Katıl!</a>

		</div>	
		<img src="https://www.talas.bel.tr/images/bos.png"style="width: 320; height: 320px"></i class="avatar" />
  <p><img src="https://i.hizliresim.com/pzg2t6q.gif" alt="Phantom Code" style="float:right;width:320px;height:320px;">

	</section>


</section>



	</section>
  
  

       

	<!-- * ABOUT US * -->

	<section class="services p-t-30" id="about">
		<h1><span>Phantom Code</span> hakkında</h1>
		<div class="container">
			<div class="service">
				<i class="fas fa-hands-helping"></i>
				<h2>YARDIMLAŞMA</h2>
				<p>
					Discord botunuzda oluşan hatalarda veya yapamadığınız kodlarda sunucumuzda bulunan yardım kanallarından destek alabilirsiniz. Tamamen ücretsiz bir şekilde destek veriyoruz! Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>

			<div class="service">
				<i class="fas fa-hand-sparkles"></i>
				<h2>YETKİLİLER</h2>
				<p>
					Yetkililerimiz en iyi şekilde sizlere destek çıkmaya çalışmaktadır. Ekibimiz sizlere daha iyi bir hizmet vermek için çabalamaktadır. Daha iyi hizmet vermek için çalışıyoruz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service">
				<i class="fas fa-hammer"></i>
				<h2>ÜCRETSİZ KODLAR</h2>
				<p>
					Hiçbir maddi destek istemeden sizlere ücretsiz bir şekilde kodları sunuyoruz. Sadece arkadaşlarınızı Sunucuya davet ederek ya da sunucuda aktif kalarak daha özel kodlara sahip olabilirsiniz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service" style="width: 80% !important; margin-top: 50px;">
				<i class="fas fa-star"></i>

				<p>
					Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi Olan Bot Club 11.04.2021 tarihinde 10 ortak ile kuruldu, Sunucumuz 2 hafta içinde 2000'den fazla üyeye sahip ve her geçen gün artmaktadır. İleriki zamanlarda Bot List, Server List gibi planlarımızda var. Sizde şuan discord sunucumuza katılıp ücretsiz bir şekilde botunuzu geliştirebilirsiniz.
				</p>
			</div>
		</div>

	<!-- * SCROLL TO TOP * -->

	<button id="back-to-top-btn"><i class="fa fa-angle-up"></i></button>


	<!-- JAVASCRIPT -->

	<script>
	// TOGGLE EFFECT
		function toggle() {
			var home = document.getElementById('home');
			var nav = document.getElementById('navigation');
			home.classList.toggle('active');
			nav.classList.toggle('active');
		}
	</script>
  	<script>
  	// PRELOADER EFFECT
    	$(window).on("load",function(){
     	$(".loader-wrapper").fadeOut("slow");
    	});
  	</script>
  	<script>
  		// ANIMATE ON SCROLL
  		AOS.init();
	</script>
	<script src="https://purple-silver-helicona.glitch.me/Javascript/main.js"></script>	
</body>
</html>